 # First steps

 ## Printouts

 python can be used to print text on the screen, for example:

In [1]:
print("Hello world!")
print(1)

Hello world!
1

 ## Python as calculator

 python can be used as a powerful calculator. Here are some basic operations:

 ### Arithmetic operators

In [2]:
# Addition
print(2 + 3)

# Subtraction
print(5 - 2)

# Multiplication
print(4 * 3)

# Division
print(10 / 2)

# Floor Division
print(10 // 3)

# Modulus
print(10 % 3)

# Exponentiation
print(2**3)

5
3
12
5.0
3
1
8

 ### Built-in math functions

 python also has built-in math functions, for example:

In [3]:
print(round(3.1))
print(round(3.9))
print(abs(-20))
print(abs(20))
print(min(1, 2, 3, 4, 5))
print(max(1, 2, 3, 4, 5))

3
4
20
20
1
5

### Bankers' rounding and unexpected results from floating point arithmetic

Bankers' rounding is a method of rounding that minimizes bias in calculations. It rounds to the nearest even number when the value is exactly halfway between two integers. This can lead to unexpected results when working with floating point numbers due to their representation in memory.

For example:

In [4]:
print(round(2.5))
print(round(3.5))
print(round(4.5))
print(round(5.5))

2
4
4
6


Some unexpected rounding results can occur when using floating point numbers. For example:

In [5]:
print(round(2.675, 2))
print(round(2.685, 2))

2.67
2.69


When mathematical precision is required, use the built-in `decimal` module.

In [6]:
from decimal import Decimal, ROUND_HALF_EVEN

print(Decimal("2.675").quantize(Decimal("0.01"), rounding=ROUND_HALF_EVEN))
print(Decimal("2.685").quantize(Decimal("0.01"), rounding=ROUND_HALF_EVEN))
# but careful, do not create the Decimal from a float, or you are back to the precision error:
print(Decimal(2.675).quantize(Decimal("0.01"), rounding=ROUND_HALF_EVEN))

2.68
2.68
2.67


On top of that, floating point arithmetic can introduce small errors in calculations due to the way numbers are represented in memory. This can lead to unexpected results, especially when comparing floating point numbers for equality.

In [7]:
print(0.1 + 0.2)
print(0.3 == (0.1 + 0.2))

0.30000000000000004
False

 ## Python objects and data types

 ### Creating an object

 Python can store numbers in objects (variables) and use them in calculations. Objects are created

 when you assign a value to it, for example:

In [8]:
x = 3
print(x)

3

 ### Using objects in calculations

In [9]:
y = 4
print(x + y)

7

 Variables can be used in calculations with other variables and numbers, for example:

In [10]:
z = x + y + 1
print(z)

8

 ### Numeric objects

 The two most important types of number objects are *int* and *float*

 Integers are whole numbers, for example:

In [11]:
a = 3
print(a)

3

 the type() function can be used to find the type of a variable, for example:

In [12]:
print(type(a))

<class 'int'>

 Floats are numbers with a decimal point, for example:

In [13]:
b = 3.0
print(b)
print(type(b))

3.0
<class 'float'>

 Integers can be converted to floats and vice versa, for example:

In [14]:
print(float(a))
print(int(b))

3.0
3

 <blockquote><b>&#x1F517; Data Preparation &amp; Analysis</b>

 * data is stored in python objects, so called *DataFrame* objects

 * depending on whether numeric data includes decimals, either *float* or *int* data types will be used

 * any calculations shown above are applicable to these data

 * built-in functions (and other methods) are available for more complex calculations

 </blockquote>

 ## Exercice: numeric objects and calculations

 ### Tasks:

 1. create a variable called *c* with the value 3.5 and print it on the screen

 2. create a variable called *d* with the value 4 and print it on the screen

 3. create a variable called *e* with the value of *c* plus *d* and print it on the screen

 4. use math functions to round *e* and print the result on the screen

 5. print the minimum of *c* and *d* on the screen

 6. BONUS: create a variable called *f* with the value of *c* divided by *d* and print it on the screen

 7. BONUS: use math functions to round *f* and print the result on the screen

 8. BONUS: print the absolute rounded value of *d* minus *c* on the screen

 ### Solution:

In [15]:
# 1. create a variable called *c* with the value 3.5 and print it on the screen
c = 3.5
print(c)

# 2. create a variable called *d* with the value 4 and print it on the screen
d = 5
print(d)

# 3. create a variable called *e* with the value of *c* plus *d* and print it on the screen
e = c + d
print(e)

# 4. use math functions to round *e* and print the result on the screen
print(round(e))

# 5. print the minimum of *c* and *d* on the screen
print(min(c, d))

# 6. BONUS: create a variable called *f* with the value of *c* divided by *d* and print it on the screen
f = c / d
print(f)

# 7. BONUS: use math functions to round *f* and print the result on the screen
print(round(f))

# 8. BONUS: print the absolute rounded value of *d* minus *c* on the screen
print(abs(round(d - c)))

3.5
5
8.5
8
3.5
0.7
1
2

 ## Boolean objects and boolean operators

 Boolean objects are used to store True or False values, for example:

In [16]:
b = True
print(b)
print(type(b))

True
<class 'bool'>

 Boolean objects can be created using the following comparison operators: ==, !=, >, <, >=, <=, for example:

In [17]:
print(1 == 1)
print(1 == 2)
print(1 > 2)
print(1 < 2)
print(1 >= 2)
print(1 <= 2)
print(1 != 2)

True
False
False
True
False
True
True

 Boolean objects can be combined using the following boolean operators: and, or, not, for example:

In [18]:
is_jedi_master = True
is_sith_lord = False

print(is_jedi_master and is_sith_lord)  # Logical AND
print(is_jedi_master or is_sith_lord)  # Logical OR
print(not is_jedi_master)  # Logical NOT

False
True
False

 Boolean objects can be combined with comparison operators, for example:

In [19]:
print(1 == 1 and 2 == 2)
print(1 == 1 and 2 == 3)
print(1 == 1 or 2 == 3)
print(not 1 == 1)

True
False
True
False

 <blockquote><b>&#x1F517; Data Preparation &amp; Analysis</b>

 * boolean operators are used for filtering data

 * TRUE/FALSE values can be stored in *boolean* type *DataFrame* columns

 * booleans are also often used in if statements (see later section)

 * many functions and methods accept boolean arguments and/or return boolean values

 * for example, many statistial or machine learning models have some boolean arguments such as *normalize* or *fit_intercept*

 </blockquote>

 ## Exercice: Boolean objects and boolean operators

 ### Tasks:

 1. create a variable called *b* with the value True and print it on the screen

 2. create a variable called *c* with the value False and print it on the screen

 3. use the == operator to compare *b* and *c* and print the result on the screen

 4. use the != operator to compare *b* and *c* and print the result on the screen

 5. combine *b* and *c* using the and operator and print the result on the screen

 6. combine *b* and *c* using the or operator and print the result on the screen

 ### Solution:

In [20]:
# 1. create a variable called *b* with the value True and print it on the screen
b = True
print(b)
# 2. create a variable called *c* with the value False and print it on the screen
c = False
print(c)
# 3. use the == operator to compare *b* and *c* and print the result on the screen
print(b == c)
# 4. use the != operator to compare *b* and *c* and print the result on the screen
print(b != c)
# 5. combine *b* and *c* using the and operator and print the result on the screen
print(b and c)
# 6. combine *b* and *c* using the or operator and print the result on the screen
print(b or c)

True
False
False
True
False
True